body{
    width: 1440px;
    height: 1024px;
}

.logo{
    position: absolute;
    width: 146px;
    height: 65px;
    left: 0px;
    top: 10px;
}

.logo:hover{
    transition: 1s;
    transform: rotate(360deg);

}

.inputToEncript{
    position: absolute;
    width: 1400px;
    height: 454px;
    left: 220px;
    top: 75px;    
    outline: none; 
    resize: none;
    border: none;
    text-align:initial;
    font-size: 35px;
}

.attention{
    position: absolute;
    width: 17px;
    height: 17px;
    left: 255px;
    top: 535px;}

.attention_text{
    position: absolute;
    width: 263px;
    height: 19px;
    left: 274px;
    top: 519px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
    color: #000000;
}


.btnEncript{
    position: absolute;
    width: 600px;
    height: 46px;
    left: 239px;
    top: 559px;
    background: #0A3871;
    border-radius: 20px;
    color: #F0F7FF;
    font-weight: bold;
    font-size: 25px;   
    box-shadow: 5px 5px grey;
}

.btnEncript:hover{
    background: #dfecfa;
    color: #0a3871;
    cursor: pointer;

}

.btnDesencript{
    position: absolute;
    width: 600px;
    height: 46px;
    left: 950px;
    top: 559px;
    background: #0A3871;
    border-radius: 20px;    
    color: #F0F7FF;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 5px 5px grey;
}

.btnDesencript:hover{
    background: #dfecfa;
    color: #0a3871;
    cursor: pointer;
}

.inputEncript{
    position: absolute;
    width: 1400px;
    height: 372px;
    left: 138px;
    top: 612px;
    background: #F0F7FF;
    mix-blend-mode: normal;
    border-radius: 69px;    outline: none;
    padding: 20px 50px 5px 50px;
    resize: none;
    border: none;
    font-size: 35px;

}

.muñeco{
    position: absolute;
    width: 297px;
    height: 270px;
    left: 700px;
    top: 634px;    
}

.muñeco_texto{
    position: absolute;
    width: 292px;
    height: 28px;
    left: 740px;
    top: 940px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.copy{
    position: absolute;
    width: 31px;
    height: 30px;
    left: 1540px;
    top: 640px;
}

.copy:hover{
    cursor: pointer;
}

.p_copy{
    position: absolute;
    left: 1500px;
    top: 600px;
    width: 35px;
    color: #0a3871;
    font-weight: bold;
    visibility: hidden;
}

.toCopy:hover p{
    visibility: visible;
}

.p_footer{
    position: absolute;
    width: 200px;
    height: 16px;
    left: 770px;
    top: 1002px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

@media screen and (max-width: 768px){

    body{
        width: 768px;
        height: 1174px;
    }

    .logo{
        width: 120px;
        
    }

    .btnEnc-Des, .inputToEncript, .inputEncript{
        width: 390px;
        left: 5px;
        font-size: 20px;
    }

    .inputToEncript{
        top: 100px;
        height: 370px;
        left: 25px;
        width: 290px;

    }

    .inputEncript{
        top: 580px;
        height: 550px;
        width: 290px;
    }

    .attention{
        left: 70px;
        top: 510px;
    }

    .attention_text{
        left: 90px;
        top: 495px;
        font-size: 14px;
    }

    .btnDesencript, .btnEncript{
        width: 120px;
        font-size: 17px;
        top: 530px;
    }

    .btnEncript{
        left: 60px;
    }

    .btnDesencript{
        left: 200px;
    }

    .muñeco{
        left: 100px;
        width: 215px;
    }

    .muñeco_texto{
        left: 100px;
        top: 900px;
    }

    .p_footer{
        left: 150px;
        font-size: 9px;
        top: 1145px;
    }

    .copy{
        left: 345px;
    }


